@use 'sass:map';
@import '/src/theme/colors.scss';

.input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: map.get($purple, 0);
}
.input__title {
  display: block;
  padding-bottom: 5px;
}

.input__error {
  display: block;
  padding-top: 5px;
  color: red;
}
