@use 'sass:map';
@import '/src/theme/colors.scss';
@import '/src/theme/fonts.scss';
@import '/src/theme/mixins.scss';

.container {
  @include autoLayout;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0px;
}

.container__tag {
  @include autoLayout;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
