$borderRadius: 10px;
$smallPadding: 5px;
$mediumPadding: 10px;

@mixin paddingHorizontal($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin contentPadding {
  @include paddingHorizontal(60px);
}
