@import './paths.scss';

@font-face {
  font-family: 'Anton';
  src: url('#{$fontPath}/AntonRegular.ttf');
}

@font-face {
  font-family: 'Gotham Black';
  src: url('#{$fontPath}/GothamBlackRegular.ttf');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('#{$fontPath}/GothamBold.ttf');
}

@font-face {
  font-family: 'Gotham Book';
  src: url('#{$fontPath}/GothamBook.ttf');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('#{$fontPath}/GothamLight.ttf');
}

@font-face {
  font-family: 'Gotham XLight';
  src: url('#{$fontPath}/GothamXLightRegular.otf');
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$fontPath}/PoppinsRegular.ttf');
}

@font-face {
  font-family: 'Gotham';
  src: url('#{$fontPath}/PoppinsRegular.ttf');
}

// H0/Anton/Regular/Active/Left;
@mixin H0 {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}
.H0 {
  @include H0;
}

// H1/Gotham/Black/Active/Center-Left
@mixin H1 {
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.05em;
}
.H1 {
  @include H1;
}

// H2/Gotham/Bold/Active/Center-Left
@mixin H2 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.05em;
}
.H2 {
  @include H2;
}

// H3/Gotham/Bold/Active/Center-Left
@mixin H3 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.05em;
}
.H3 {
  @include H3;
}

// H4/Gotham/Book/Active/Left
@mixin H4 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.05em;
}
.H4 {
  @include H4;
}

// P3/Gotham/Book/Active/left
@mixin P3 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.05em;
  // text-transform: capitalize;
}
.P3 {
  @include P3;
}

// P1/Gotham/Book/Active/Left
@mixin P1 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.05em;
}
.P1 {
  @include P1;
}

// P2/Gotham/Light/Active/Left
@mixin P2 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.05em;
  // text-transform: capitalize;
}
.P2 {
  @include P2;
}

// P4/Gotham/Book/Active/Left
@mixin P4 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: -0.05em;
  // text-transform: capitalize;
}
.P4 {
  @include P4;
}
