@use 'sass:map';
@import '/src/theme/colors.scss';
@import '/src/theme/constants.scss';
@import '/src/theme/fonts.scss';
@import '/src/theme/mixins.scss';
@import '/src/theme/shadows.scss';

.tab_bar {
  @include autoLayout;
  justify-content: space-between;
  align-items: flex-end;
  background-color: map.get($purple, 4);
  padding: 0px 10px;
}

.tabs {
  @include autoLayout;
  align-items: flex-end;
  gap: 3px;
  @include P1;
  height: 100%;
  color: $white;
  padding: 5px 0px 0px;
}

.tab {
  border-radius: 4px 4px 0px 0px;
  background-color: map.get($purple, 1);
  color: map.get($gray, 4);
  padding: 10px;
  cursor: pointer;
  @include noSelect;
}

.tab__selected {
  background-color: map.get($purple, 0.5);
  color: map.get($gray, 4);
  padding: 11px;
  cursor: default;
}

.right_element {
  padding: 5px 0px;
}

.container_children {
  padding: $mediumPadding;
  background-color: map.get($purple, 0.5);
}
