@use 'sass:map';
@import '/src/theme/colors.scss';
@import '/src/theme/fonts.scss';
@import '/src/theme/mixins.scss';
@import '/src/theme/paths.scss';

@mixin placeholder {
  box-sizing: border-box;
}

.container {
  @include autoLayout;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.container_input {
  @include autoLayout;
  flex-direction: column;
  align-items: flex-start;

  padding: 10px 0px;
  gap: 6px;
  min-width: 250px;
  background-color: $white;
  border: 1.5px solid map.get($gray, 2);
  border-radius: 8px;

  @include insideAutoLayout;
  align-self: stretch;
}

.container_input__error {
  background-color: map.get($red, 0.5);
  border-color: map.get($red, 6);
}

.container_input__success {
  background-color: map.get($green, 0.5);
  border-color: map.get($green, 7);
}

.container_input__disable {
  background-color: map.get($gray, -1);
  border-color: map.get($gray, 0);
}

.container_fields {
  @include autoLayout;
  justify-content: space-between;
  padding: 0px 14px;
  gap: 10px;
  width: 100%;
  @include insideAutoLayout;
}

.label {
  @include P4;
  color: map.get($gray, 0);
}

.input {
  display: flex;
  @include P1;
  color: map.get($gray, 3);
  &::placeholder {
    color: map.get($gray, 0);
  }
  flex: 1;
}
.input__success {
  background-color: map.get($green, 0.5);
}
.input__error {
  background-color: map.get($red, 0.5);
}
.input__disable {
  background-color: map.get($gray, -1);
}

.icon__error {
  background-color: map.get($red, 6);
  @include maskIcon('#{$imgPath}/warning-2.svg');
}

.icon__success {
  background-color: map.get($green, 7);
  @include maskIcon('#{$imgPath}/tick-square.svg');
}

.helper {
  @include P2;
  margin: 0 5px;
  color: map.get($gray, 0);
}
.helper__success {
  color: map.get($green, 7);
}
.helper__error {
  color: map.get($red, 6);
}
